.bg-img{
    background-image:linear-gradient(to top, 
    rgba(128, 126, 122, 0.321), rgba(126, 122, 128, 0.77)), url('../../assets/Images/bg-hotel.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}